<template>
    <div class="panel text-center">
        <div class="pad-all bg-dark">
            <canvas id="icon-instant-weather" width="128" height="128"></canvas>
            <h4 class="mar-no text-light">Nice</h4>
            Aujourd'hui
        </div>
        <div class="pad-btm">
            <p class="text-4x mar-no"> {{ weather.temp }} &#176;</p>
            {{ weather.text }}
        </div>
    </div>
</template>

<script type="text/babel">
    let skycons = new Skycons({"color": 'white'});
    export default {
        props: ['city'],
        data(){
            return {
                weather: {
                    temp: '',
                    text: ''
                }
            }
        },

        mounted() {
            this.getSkycons('icon-instant-weather');
            this.listen();
        },

        methods: {
            getSkycons(id){
                skycons.add(id, Skycons.PARTLY_CLOUDY_DAY);
                skycons.play();
            },
            setSkycons(id, icon){
                let ico = _.snakeCase(icon).toUpperCase()
                skycons.set(id, Skycons[ico]);
            },
            listen(){
                let self = this;
                this.$root.echo
                        .channel('weather')
                        .listen('InstantWeatherEvent', (event) => {
                            console.log( event.weather)
                            self.weather = {
                                temp:  this.toCelsius(event.weather.temperature),
                                text: event.weather.summary
                            }
                            this.setSkycons('icon-instant-weather', event.weather.icon);
                        });
            },
            toCelsius(temperature){
                return _.round((temperature - 32) * (5 / 9));
            }
        }
    }


</script>
