<template>
    <div class="panel panel-primary panel-colorful">
        <div class="pad-all text-center">
            <span class="text-3x text-thin">21</span>
            <p>Messages</p>
            <i class="fa fa-envelope fa-4x"></i>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
