<template>
    <div class="panel">
        <div class="pad-all text-center bg-danger">
            <img alt="Profile Picture" class="img-md img-circle mar-btm"
                 src="http://aqua-etiam.com/wp-content/uploads/2015/03/mondefr_ios_app.png">
            <p class="text-lg text-semibold">Le Monde</p>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item" v-for="item in data">
                <h4 class="list-group-item-heading">{{ item.title }}</h4>
                <p class="list-group-item-text">{{ item.content }}</p>
            </a>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        data(){
            return {
                data: {}
            }
        },
        mounted() {
            this.listen();
            console.log('Component NewsFeed ready.')
        },
        methods: {
            listen(){
                let self = this;
                this.$root.echo
                        .channel('newsfeed')
                        .listen('NewsFeedEvent', (event) => {
                            this.data = event.data;
                        });
            }
        }
    }


</script>
